<%- include('../partials/head') %>

<div class="content-wrapper">
    <div class="ranking-container">
        <h1>Top Players</h1>
        
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Level</th>
                    <th>Vocação</th>
                    <th>Experiência</th>
                </tr>
            </thead>
            <tbody>
                <% topPlayers.forEach((player, index) => { %>
                    <tr class="<%= index < 3 ? `top-${index + 1}` : '' %>">
                        <td><%= index + 1 %>º</td>
                        <td><%= player.name %></td>
                        <td><%= player.level %></td>
                        <td><%= player.vocation %></td>
                        <td><%= player.experience.toLocaleString() %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer', { serverName: 'Meu Servidor de Tibia', onlinePlayers: 42, maxPlayers: 500 }) %>
